<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Teknologi</h2>
                <p class="lead">Berikut adalah teknologi yang digunakan dan dikembangkan untuk mengisi stack dari program fluider. Bilamana di dalam kuriklum adalah high level material, area ini membahas teknologi yang dikembangkan, baik yang telah maupun yang akan menjadi material kurikulum berikutnya. Khususnya untuk area pustaka akan berkembang searah dengan aktifitas komunitasnya, khususnya perpustakaan Javascript untuk mencakup semua yang mengisi dan menguatkan kurikulum fluider.</p>
            </div>
        </div><!-- /.container -->
    </div><!-- /.row -->
<div class="row">
        <div class="container">

            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-responsive16"></i>
                    <h2>Responsive</h2>
                    <h3>Responsive Web Design adalah sebuah teknik yang digunakan untuk membuat layout website menyesuaikan diri dengan tampilan device pengunjung web browser, baik ukuran maupun orientasinya. Untuk mendesain web Responsive, Fluider menggunakan 2 framework CSS, yaitu : Twitter Bootstrap, Zurb Foundation.
                    </h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-wrench"></i>
                    <h2>Programming</h2>
                    <h3>Untuk Pemula yang ingin bergelut dalam dunia desain, diharuskan mengetahui beberapa hal  dasar dalam mendesain web dan dasar dalam mendesain sebuah web di bagi menjadi 3 bahasa pemrogaman, bahasa pemrogaman tersebut adalah : HTML, CSS, JavaScript.</h3>
                </div>
            </div><!--/.col-md-4-->

        </div><!-- /.container --> 
        <div class="container">
            <!-- <div class="pull-right">
                <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
            </div> -->
        </div><!-- /.container -->
</div><!--/.row-->      